.hero-body{
  background-image:url('../images/Hero.png');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: auto;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.box{
  border-radius:12px;
}

.content .title{
  margin-bottom:0%;
  font-weight:400;
  color:gold;
}
a{
  color:rgba(0,0,0,0.5);
}
a:hover{
  color:rgba(0,0,0,1);
}
.fab{
  color:rgba(0,0,0,0.5);
}
.fab:hover{
  color:rgba(0,0,0,1);
}
.fa-om{
  color:gold;
}
.Brand-name{
  font-family:'Cinzel Decorative', cursive;
  font-size:2rem;
  color:#ae0707;
}
.content .subtitle, .content .title{
  font-weight:400;
  font-family:'Ubuntu Mono';
}
#img{
  font-family:"Roboto";
  font-weight:300;
  text-align:center;
}
.nav-link{
  font-size:1.2rem;
  color:rgba(0,0,0,0.5);
  font-family:'Roboto';
}
.nav-link:hover{
  color:rgba(0,0,0,1);
  border-bottom:1px solid black;
}
.skill{
    border-right:1px solid #eee;
}
.icons{
  font-size:2.5rem;
  color:#ad0303;
  margin-top:2rem;
  margin-bottom:1.5rem;
}
#webdev{
  margin-bottom:5%;
  margin-top:1%;
}
.is-5{
    margin-top:15%;
    color:#ae0707;
}
#contact-btn{
  margin-bottom:0.8rem;
  font-family:"Thasadith";
  transition:color 0.2s;
  font-size:1.2rem;
}
#contact-btn:hover{
  color:white;
}
.button.is-link.is-outlined{
  transition:background-color 0.2s,color 0.2s;
  color:white;
}
#goal{
  background: #642b73; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #642b73, #c6426e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #642b73, #c6426e);
}
.white{
  color:white;
  font-family:"Thasadith";
}
#goal-content{
  margin-top:-11rem;
  width:45rem;
}
#skills{
  margin-top:-20rem;
}




/* Mobile css */
@media only screen and (max-width: 768px){
  .fab{
      color:rgba(0,0,0,1);
  }
  a{
    color:rgba(0,0,0,1);
  }
  .navbar-menu{
    background-color: white;
  }
  .fa-om{
    color:gold;
  }
  .hero-body{
    padding-top:1.5rem;
  }
  .skill{
      border-bottom:1px solid #eee;
      border-right:none;
  }
  #webdev{
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }
  #contact-btn{
    margin-bottom:0.6666em;
  }

}
